<div class= "container" style="text-align: right;">
    <a [routerLink]="['/fundstransfer']">Return to Funds Transfer</a>
</div>
<div class="container" style="text-align: center;">
    <img src="/assets/logo.png">
</div>
<section>
    <div class="custom-centered">
        <div class="container-fluid" class="btn btn-primary"><h5>Manage Beneficiaries</h5></div><br>
        <br><div class="container-fluid">
            <a [routerLink]="['/addbenificiary']"><button class="btn btn-secondary"><mat-icon>group_add</mat-icon>&nbsp;&nbsp;Add new Beneficiary</button></a>
        </div><br>
        <div class="container-fluid">
            <a [routerLink]="['/listbeneficiaries']"><button class="btn btn-secondary"><mat-icon>dehaze</mat-icon>&nbsp;&nbsp;List All Beneficiaries</button></a>
        </div><br>
    </div>
</section>
