<p>TO RESET YOUR PASSWORD</p>
<html>
   <title></title>
    <head>
        <script src="jquery-1.12.4.min.js"></script>  
    </head>
    <body>
        <script>
            $(document).ready(function(){
               $("#change").click(function(){
               alert("Hello World! Welcome to Tutorialdeep.");
                 });
               });
           </script>
       
        <label>Please enter the new Password</label>
        <input type="password" [(ngModel)]="newpassword"><br>
        <label>Please confirm your Password</label>
        <input type="password" [(ngModel)]="confirmpassword"><br>
        <button class="btn btn-success" id="change" (click)="submit()">ChangePassword</button>
        <div *ngIf="resmessage">
            {{resmessage}}
        </div>
        <div class="modal" id="myModal" [style.display]="showModel ? 'block' : 'none'">
            <div class="modal-dialog">
               <div class="modal-content">  
                 <div class="modal-body" style="background-color: cadetblue;">
                   <div *ngIf="flag">
                      <div class="modal-body">
                         your password has successfully Changed...
                       <div class="modal-footer">
                         <button class="btn btn-primary" (click)="home()">ok</button>
                       </div>
                      </div>
                   </div>
                 </div>
              </div> 
            </div>
        </div>  
    </body>
</html>
