
<html>
  <title></title>
   <head>
       <script src="jquery-1.12.4.min.js"></script>  
   </head>
   <body>
       <script>
           $(document).ready(function(){
              $("#change").click(function(){
              alert("Hello World! Welcome to Tutorialdeep.");
                });
              });
          </script>
      
      <div class="col-md-6 col-xl-5 offset-xl-1">
       <!--Form-->

         <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
         <mdb-card-body>
           <!--Header-->
           <div class="text-center">
             <h3 class="white-text">
               <mdb-icon fas icon="user" class="text-white"></mdb-icon><strong>TO RESET YOUR PASSWORD</strong> </h3>
             <hr class="hr-light">
           </div>
           <!--Body-->
          
           <form [formGroup]="myForm" (ngSubmit)="submit()">
             <label class="form-control"><strong>Password</strong></label>
             <input type="password" class="form-control" placeholder="please enter password" name="newpassword" id="newpassword" formControlName="newpassword">
             <span *ngIf="newpassword.touched && !newpassword.valid">  
                <span *ngIf="newpassword.errors && newpassword.errors.required" >
                    <span id="msg"><strong>New Password cannot be empty</strong> </span>
                </span>
                <span *ngIf="newpassword.errors && newpassword.errors.pattern">
                  <span id="msg"><strong> New Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                   letter and 1 number</strong></span>
                </span>
            </span>
             <label class="form-control"><strong>Password</strong></label>
             <input type="password" class="form-control" placeholder="please enter password" name="confirmpassword" id="confirmpassword" formControlName="confirmpassword">
             <span *ngIf="confirmpassword.touched && !confirmpassword.valid">  
                <span *ngIf="confirmpassword.errors &&confirmpassword.errors.required" >
                    <span id="msg"><strong>Confirm Password cannot be empty</strong> </span>
                </span>
                <span *ngIf="confirmpassword.errors && confirmpassword.errors.pattern">
                  <span id="msg"><strong>Confirm Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                   letter and 1 number</strong></span>
                </span>
            </span>
            <div class="text-center mt-4">
             <button mdbBtn color="indigo" mdbWavesEffect>Changepassword</button><br>
            </div>
           </form>
         <div *ngIf="resmessage">
           {{resmessage}}
         </div>
         </mdb-card-body>
       </mdb-card>               
     </div>
       <div class="modal" id="myModal" [style.display]="showModel ? 'block' : 'none'">
           <div class="modal-dialog">
              <div class="modal-content">  
                <div class="modal-body" style="background-color: cadetblue;">
                  <div *ngIf="flag">
                     <div class="modal-body">
                        your password has successfully Changed...
                      <div class="modal-footer">
                        <button class="btn btn-primary" (click)="home()">ok</button>
                      </div>
                     </div>
                  </div>
                </div>
             </div> 
           </div>
       </div>  
   </body>
</html>
