.custom-centered{
    margin:auto;
    width:600px;
    height: auto;
   }
h5{
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
    background-size: cover;
    background-attachment:fixed;
    height: 100%;
    padding:50px 0;
   }
strong{
    color: darkslategrey;
}
