<body>
  <div class="container" style="overflow: hidden;">
    <div class="container" style=" float:left; text-align: center;">
      <img src="/assets/logo.png" width="75px"><input type="button" value="Logout"
        style="display: inline; float:right;margin-top: 50px;" (click)="logout()">
      <h2>RDNS Banking</h2>
    </div>
    <div style="float:right; overflow: hidden;">
      <a routerLink="/changeloginpwd" (click)="changeloginpssd()"> Change Login Password</a><br>
      <a routerLink="/changetranpwd" (click)="changetranpssd()"> Change Transaction Password</a>
    </div>
  </div>
  <br><br><br><br>
  <div class="row" style="text-align: center;overflow: hidden;">
    <div class="column">
      <a routerLink="/userprofile"><i class="fas fa-user-alt" style='font-size:30px'></i> <h3>User Profile</h3></a>
    </div>

    <div class="column">
      <a routerLink="/accountsummary"><i class="fas fa-file-invoice" style='font-size:30px' ></i> <h3>Account Summary</h3></a>
    </div>

    <div class="column">
      <a routerLink="/accountstatement"><i class="fas fa-file-invoice-dollar" style='font-size:30px' ></i> <h3>Account Statement</h3></a>
    </div>
    <div class="column">
      <a routerLink="/fundstransfer"><i class="fas fa-tag" style='font-size:30px'></i> <h3>Funds Transfer</h3></a>
    </div>
  </div>
</body>
  <!-- <hr>
  <br><br><br><br> -->
  
  <!-- <div class="text-center">
    <a routerLink="/userprofile"><i class="fas fa-user-alt" style='font-size:30px'></i> <h3>User Profile</h3></a>
    <br>
    <a routerLink="/accountsummary"><i class="fas fa-file-invoice"></i> Account Summary</a>
    <br>
    <a routerLink="/accountstatement"><i class="fas fa-file-invoice-dollar"></i> Account Statement</a>
    <br>
    <a routerLink="/fundstransfer"><i class="fas fa-tag"></i> Funds Transfer</a>
  </div> -->
