<!-- 
 <div class="navtabs-container">
    <nav mat-tab-nav-bar fxFlex fxLayout="row" fxLayoutAlign="center center">
      <a mat-tab-link routerLink="/" routerLinkActive #home="routerLinkActive" [active]="userprofile.isActive">
        User Profile
      </a>
      <a mat-tab-link routerLink="/accountstatement" routerLinkActive #accomodation="routerLinkActive" [active]="accountstatement.isActive">
        Account Summary
      </a>
      <a mat-tab-link routerLink="/accountsummary" routerLinkActive #food_beverage="routerLinkActive" [active]="accountsummary.isActive">
       Account Statement
      </a>
      <a mat-tab-link routerLink="/fundstransfer" routerLinkActive #food_beverage="routerLinkActive" [active]="fundstransfer.isActive">
        Funds Transfer
       </a>
      
      
    </nav>
  </div> -->