
<mat-nav-list class="sidenav-list">
    <a mat-list-item routerLink="/" (click)="onToggleClose()">
      <mat-icon>input</mat-icon>
      <span>User Profile</span>
    </a>
    <a mat-list-item routerLink="/dash/accountsummary" (click)="onToggleClose()">
      <mat-icon>account_circle</mat-icon>
      <span>Account Summary</span>
    </a>
    <a mat-list-item  routerLink="/dash/accountstatement" (click)="onToggleClose()">
      <mat-icon>hotel</mat-icon>
      <span>Account Statement</span>
    </a>
    <a mat-list-item routerLink="/fundstransfer" (click)="onToggleClose()">
      <mat-icon>loyalty</mat-icon>
      <span>Funds Transfer</span>
    </a>
    <a mat-list-item routerLink="/offers" (click)="onToggleClose()">
        <mat-icon>loyalty</mat-icon>
        <span>Logout</span>
      </a>
  </mat-nav-list>