<body style="text-align: center;">
    <div class="container" style="text-align: center;">
        <a href="#"><img src="/assets/logo.png" style="width: 200px;"></a>
    </div>
    <br>
    <div class="container" style="margin: 0 auto;">
        <h3>Forgot Password?</h3>
        <br>
        <form #frgtpssd="ngForm" style="text-align: center;">
        <div class="form-group">
            <input type="text" placeholder="Enter your User ID" [(ngModel)]="userid" class="form-control" name="userid" id="userid" style="width: 250px;margin:0 auto" required>
        </div>
        <div class="form-group">
            <input type="email" placeholder="Enter your Email" [(ngModel)]="email" class="form-control" name="email" id="email" style="width: 250px;margin:0 auto" required>
        </div>
        <br>
        <div class="form-group">
            <button [disabled]="frgtpssd.invalid" type="button" class="btn btn-primary" (click)="changepassword()">Submit</button>
        </div>
        </form>
    </div>
</body>

<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">  
        <div class="modal-body">
            <label>Please enter the OTP</label>
            <input type="number" [(ngModel)]="otp"><br>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" (click)="checkotp()">submit</button>
            </div>
            <div *ngIf="msg">{{msg}}</div>
        </div>
      </div>
    </div>
</div>