<body>
    <div class="container" style="text-align: center;">
        <a href="#"><img src="/assets/logo.png" style="width: 200px;"></a>
    </div>
    <br>
    <div class="container" style="text-align: center;">
        <h3>Forgot Password?</h3>
        <br>
        <div>
            <input type="text" placeholder="Enter your User ID" [(ngModel)]="userid"><br><br>
            <input type="email" placeholder="Enter your Email" [(ngModel)]="email"><br><br>
            <button type="button" class="btn btn-primary" (click)="changepassword()">Submit</button>
        </div>
    </div>
</body>

<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">  
        <div class="modal-body">
            <label>Please enter the otp</label>
            <input type="number" [(ngModel)]="otp"><br>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" (click)="checkotp()">submit</button>
            </div>
            <div *ngIf="msg">{{msg}}</div>
        </div>
      </div>
    </div>
</div>