.custom-centered{
    margin:0 auto;
    width:550px;
   }
h5{
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
    background-size: cover;
    background-attachment:fixed;
    height: 100%;
    padding:20px 0;
   }
   .transparent-input {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid gray;
 }
.alert{
    height: 40px;
}
.mat-icon {
   transform: scale(0.85);
}