<html>
<body>
  <nav class="navbar navbar-default" style="overflow: auto; background-color: cyan;">
        <ul class="nav navbar-nav">
          <li><a routerLink="/allapplications">All Applications</a></li>
          <li ><a routerLink="/pendingapplications">Pending Applications</a></li>
          <li ><a routerLink="/approvedapplications">Approved Applications</a></li>
          <li ><a routerLink="/rejectedapplications">Rejected Applications</a></li>
        </ul>
        <button class="btn btn-primary" (click)="logout()">Logout</button>
  </nav>
  <div class="container">   
       <div class="row" style="text-align: center;">   
           <div class="column">   
               <div class="card">
                      <div class="card-header"> 
                         Account Statements  
                      </div>   
                       <div class="card-body">   
                       <img src="/assets/statements.jpg" width="200px" height="150px">    
                       </div>       
                     </div>        
                     </div>      
                    <div class="column">   
                     <div class="card">    
                      <div class="card-header"> 
                          Instant Fund Transfer     
                       </div>       
                        <div class="card-body">   
                            <img src="/assets/funds.jpg" width="200px" height="150px">    
                         </div>       
                     </div>    
                    </div>  
                     <div class="column">    
                       <div class="card">   
                            <div class="card-header">    
                               Priority Banking   
                             </div>        
                        <div class="card-body">    
                             <img src="/assets/priority.jpg" width="200px" height="150px">   
                        </div>     
                       </div>   
                     </div>  
                  </div> 
               </div> 
                <div class="container" style="text-align: center;">    
                <h6>#ForgetCashTransactions...Go Digital !</h6> 
                   <h6><span style="color: blue;">User Internet Banking for all your banking needs</span></h6> 
               </div>
             <div class="container" style="text-align: center;" >   
               Internet Banking offers gives you real-time access to your account. You can make and 
               receive payments, view account details and a lot more, while you are online.    
            </div> 
            <marquee>    
            RDNS never asks for confidential information such as PIN and OTP from customers. Please report such calls to us for further action.  
          </marquee>  
          <footer> 
            <span>
             <div class="row" style="text-align: center;">    
              <div class="column">     
                 <i class='far fa-map' style='font-size:30px'></i>  
             
                  <h3>Locate Us</h3>    
                   Larsen and Toubro Infotech Campus<br>  
                    Block-II, Mahape     
               </div>          
              <div class="column">   
                   <i class='fas fa-phone' style='font-size:30px'></i>   
                   <h3>Contact Us</h3>   
                 <p>+91 9876543210 <br>24 Hour Hotline: 1800 000 0000</p> 
               </div>                   
              <div class="column"> 
                     <i class="fas fa-envelope" style='font-size:30px'></i>    
                  <h3>Email Us</h3>    
                  <p>helpline@rdns.in</p> 
                 </div>   
              </div>  
           </span>  
             <div style="text-align: center; padding-bottom: 20px;">  
                Copyright© 2020 . All rights Reserved. 
              </div> 
         </footer>
    </body>
  </html>
     



            
              
                 
                
               
           
          

