<html>
  <head>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light" >
      <div class="container-fluid" style="overflow: hidden;">
        <div class="navbar-header" style="overflow: hidden;">
          <a class="navbar-brand" href="#"><img src="/assets/logo.png" style="height: 50px;"></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/login"><i class="fas fa-sign-in-alt"></i> Login to Internet Banking</a></li>
          <li><a routerLink="/signup"><i class="fas fa-user-plus"></i>Sign Up for Internet banking</a></li>
          <li><a routerLink="/custreg"><i class="fas fa-plus-square"></i> Open a Savings/Current Account</a></li>
          <li><a routerLink="/trackapplication"><i class="fas fa-search-plus"></i> Track your Application Status</a></li> 
        </ul>
      </div>
    </nav>
    <div class="content" style="text-align: center; overflow: hidden;">
      <h1><b>RDNS Bank</b></h1>
      <h6>Welcome to the Internet Banking site of RDNS Bank</h6>
    </div>

    <div class="container">
      <div class="row" style="text-align: center;">
        <div class="column">
          <div class="card">
            <div class="card-header">
              Account Statements
            </div>
            <div class="card-body">
              <img src="/assets/statements.jpg" width="200px" height="150px">
            </div>
          </div>
          
        </div>
  
        <div class="column">
          <div class="card">
            <div class="card-header">
              Instant Fund Transfer
            </div>
            <div class="card-body">
              <img src="/assets/funds.jpg" width="200px" height="150px">
            </div>
          </div>
        </div>
  
        <div class="column">
          <div class="card">
            <div class="card-header">
              Priority Banking
            </div>
            <div class="card-body">
              <img src="/assets/priority.jpg" width="200px" height="150px">
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container" style="text-align: center;">
      <h6>#ForgetCashTransactions...Go Digital !</h6>
      <h6><span style="color: blue;">User Internet Banking for all your banking needs</span></h6>
    </div>

    <div class="container" style="overflow: hidden;">
      <p>
      Internet Banking offers gives you real-time access to your account. You can make and 
      receive payments, view account details and a lot more, while you are online.
      </p>
    </div>
    <marquee>
      RDNS never asks for confidential information such as PIN and OTP from customers. Please report such calls to us for further action.
    </marquee>
    <div class="row" style="text-align: center;overflow: hidden;">
      <div class="column">
        <i class='far fa-map' style='font-size:30px'></i>
        <h3>Locate Us</h3>
        Larsen and Toubro Infotech Campus<br>
        Block-II, Mahape
      </div>

      <div class="column">
        <i class='fas fa-phone' style='font-size:30px'></i>
        <h3>Contact Us</h3>
        <p>+91 9876543210 <br>24 Hour Hotline: 1800 000 0000</p>
      </div>

      <div class="column">
        <i class="fas fa-envelope" style='font-size:30px'></i>
        <h3>Email Us</h3>
        <p>helpline@rdns.in</p>
      </div>
    </div>
    <br><br>
    <footer>
      <hr>
      <div style="text-align: center;overflow: hidden;">
        Copyright© 2020 . All rights Reserved.
      </div>
    </footer>
  </body>
  
</html>


