<html>
    <body>
        
      <div class="col-md-6 col-xl-5 offset-xl-1">
        <!--Form-->

          <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
          <mdb-card-body>
            <!--Header-->
            <div class="text-center">
              <h3 class="white-text">
                <mdb-icon fas icon="user" class="text-white"></mdb-icon><strong>Please enter your email address</strong> </h3>
              <hr class="hr-light">
            </div>
            <!--Body-->
           
            <form [formGroup]="myForm" (ngSubmit)="changepassword()">
              <label class="form-control"><strong>Please enter the emailaddress</strong></label>
              <input type="email" class="form-control" placeholder="email" name="email" id="email" formControlName="email">
              <span *ngIf="email.touched && !email.valid">  
                 <span *ngIf="email.errors && email.errors.required" >
                     <span id="msg"><strong>email address cannot be empty</strong> </span>
                 </span>
                 <span *ngIf="email.errors && email.errors.pattern">
                   <span id="msg"><strong>Please enter  a valid email address</strong></span>
                 </span>
             </span>
              <label class="form-control"><strong>confirm emailaddress</strong></label>
              <input type="email" class="form-control" placeholder="confirm email" name="confirmemail" id="confirmemail" formControlName="confirmemail">
              <span *ngIf="confirmemail.touched && !confirmemail.valid">  
                 <span *ngIf="confirmemail.errors && confirmemail.errors.required" >
                     <span id="msg"><strong>Confirm email cannot be empty</strong> </span>
                 </span>
                 <span *ngIf="confirmemail.errors && confirmemail.errors.pattern">
                   <span id="msg"><strong>Plaese enter the valid email address</strong></span>
                 </span>
             </span>
             <div class="text-center mt-4">
              <button mdbBtn color="indigo" mdbWavesEffect>submit</button><br>
             </div>
            </form>
          </mdb-card-body>
        </mdb-card>               
      </div>            
    </body>
</html>
<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">  
        <div class="modal-body">
            <label>Please enter the otp</label>
            <input type="number" [(ngModel)]="otp"><br>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" (click)="checkotp()">submit</button>
            </div>
            <div *ngIf="msg">{{msg}}</div>
        </div>
      </div>
    </div>
</div>
