<p>To Reset your password!</p>
<html>
    <body>
        
           <label>Email Address</label>
           <input type="email" [(ngModel)]="email"><br>
           <label>confirm your Email Address</label>
           <input type="email" [(ngModel)]="email"><br> 
           <button class="btn btn-primary" (click)="changepassword()">send</button> 
              
    </body>
</html>
<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">  
        <div class="modal-body">
            <label>Please enter the otp</label>
            <input type="number" [(ngModel)]="otp"><br>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" (click)="checkotp()">submit</button>
            </div>
            <div *ngIf="msg">{{msg}}</div>
        </div>
      </div>
    </div>
</div>
