<div class="container" style="text-align: center;">
    <img src="/assets/logo.png">
</div>
<div id="login">
    <div class="form-group">
   
        <h4><span>Change Transaction Password</span> </h4>
        <div class="form-group" [class.has-error]="user_id.touched && user_id.invalid">
            <label for="userid">Enter your user ID</label><br>
            <input type="text" id="userid" [(ngModel)]="userPwd.user_id" class="form-control" required #user_id="ngModel" name="user" />
            <span class="help-block" *ngIf="user_id.touched && user_id.errors?.required">
                User ID is required
            </span>    
        </div>
    
        <div class="form-group" >
        
            <label for="old">Enter your Old Transaction Password</label><br>
            <input type="password" id="old" [(ngModel)]="userPwd.transaction_password" class="form-control" required  name="transaction_password" />
             
        </div>
    
        <button (click)="ok()">OK</button>
    
    
        <div *ngIf="msg" style="font-size: larger; color: red; text-align: center;" class="form-group">
            {{msg}}
          </div>
    
    
    
        <div *ngIf="old == userPwd.user_id">
            <div class="form-group" [class.has-error]="transaction_password.touched && transaction_password.invalid"> 
                <label for="pwd">Enter your New Transaction Password</label><br>
                <input type="password" id="pwd" [(ngModel)]="newpwd.transaction_password" class="form-control" minlength="8" required #transaction_password="ngModel" name="password" />
                <span class="help-block" *ngIf="transaction_password.touched && transaction_password.errors?.required">
                    Password is required
                </span>  
            </div>
    
            <button (click)="updateLoginPassword()" class="btn btn-success">Update</button>
        </div>
        
    </div>
</div>

