<html>
<title></title>

<head>
  <script src="jquery-1.12.4.min.js"></script>
</head>

<body>

  <div class="container" style="text-align: center;">
    <img src="/assets/logo.png" style="width: 200px;">
  </div>
  <div class="container" style="text-align: center;">
      <h2>Please enter your new login password</h2>
      <!-- <label>Please enter the new Password</label> -->
      <input type="password" [(ngModel)]="newpassword" placeholder="Enter your New Password" min="8" required><br><br>
      <!-- <label>Please confirm your Password</label> -->
      <input type="password" [(ngModel)]="confirmpassword" placeholder="Re-enter your New Password" min="8" required><br><br>
      <button class="btn btn-success" id="change"
        (click)="submit()">ChangePassword</button>
  </div>


  <div *ngIf="resmessage">
    {{resmessage}}
  </div>
  <div class="modal" id="myModal" [style.display]="showModel ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body" style="background-color: cadetblue;">
          <div *ngIf="flag">
            <div class="modal-body">
              your password has successfully Changed...
              <div class="modal-footer">
                <button class="btn btn-primary" (click)="home()">ok</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>