<html>
<title></title>

<head>
  <script src="jquery-1.12.4.min.js"></script>
</head>

<body>

  <div class="container" style="text-align: center;">
    <img src="/assets/logo.png" style="width: 200px;">
  </div>
  <div class="container" style="text-align: center;">
    <h2>Please enter your new login password</h2>
  </div>
  <form #forgotpssd="ngForm">
  <div class="container" style="text-align: center; width: 500px;">
    
    <div class="form-group">
      <input type="password" class="form-control" name="password" id="password" #passRef="ngModel" [(ngModel)]="newpassword" placeholder="Enter your New Password"  pattern= "^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$" required>
      <div *ngIf="passRef.errors && (passRef.dirty || passRef.touched)" class="alert alert-danger">
        <div [hidden]="!passRef.errors.required">
            Enter your new Password
        </div>
        <div [hidden]="!passRef.errors.pattern">
           Password must contain be minimum of length 8 and must contain 1 Capital letter, 1 Special Character, 1 number
        </div>
      </div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="confirmpssd" id="confirmpssd" [(ngModel)]="confirmpassword" #confirmpassRef="ngModel" pattern= "^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$" placeholder="Re-enter your New Password" required>
      <div *ngIf="confirmpassRef.errors && (confirmpassRef.dirty || confirmpassRef.touched)" class="alert alert-danger">
        <div [hidden]="!confirmpassRef.errors.required">
            Re-enter your Password
        </div>
        <div [hidden]="!confirmpassRef.errors.pattern">
          Password must contain be minimum of length 8 and must contain 1 Capital letter, 1 Special Character, 1 number
       </div>
      </div>
    </div>
    <div *ngIf="resmessage" class="container" style="color: red; text-align: center;">
      {{resmessage}}
    </div>
      
      <button [disabled]="forgotpssd.invalid" class="btn btn-success" id="change"
        (click)="submit()">ChangePassword</button>
  </div>
  
</form>


  <div class="modal" id="myModal" [style.display]="showModel ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body" style="background-color: cadetblue;">
          <div *ngIf="flag">
            <div class="modal-body">
              Your Password has been succesfully changed
              <div class="modal-footer">
                <button class="btn btn-primary" (click)="home()">ok</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>