<div class= "container" style="text-align: right;">
    <a [routerLink]="['/dash']">Return to DashBoard</a>
</div>
<div class="container" style="text-align: center;">
    <img src="/assets/logo.png">
</div>
<section>
    <div class="custom-centered">
        <div class="container-fluid" class="btn btn-primary"><h5>Fund Transfer</h5></div><br>
        <br><div class="container-fluid">
            <a [routerLink]="['/managebenificiary']"><button class="btn btn-secondary"><mat-icon>people</mat-icon>&nbsp;&nbsp;Manage Beneficiaries</button></a>
        </div><br>
        <div class="container-fluid">
            <a [routerLink]="['/impspayment']"><button class="btn btn-secondary"><span><mat-icon style="transform: scale(-1, 1)">reply</mat-icon></span>&nbsp;&nbsp;Initiate IMPS payment</button></a>
        </div><br>
        <div class="container-fluid">
            <a [routerLink]="['/neftpayment']"><button class="btn btn-secondary"><span><mat-icon style="transform: scale(-1, 1)">reply</mat-icon></span>&nbsp;&nbsp;Initiate NEFT payment</button></a>
        </div><br>
        <div class="container-fluid">
            <a [routerLink]="['/rtgspayment']"><button class="btn btn-secondary"><span><mat-icon style="transform: scale(-1, 1)">reply</mat-icon></span>&nbsp;&nbsp;Initiate RTGS payment</button></a>
        </div><br>
    </div>
</section>



