<div class="container" style="text-align: center;">
    <img src="/assets/logo.png">
</div>
<section>
    <div class="container" class="custom-centered">
        <div style="text-align: center;"><mat-icon>warning</mat-icon></div>
        <br><br>
        <div style="text-align: center;"><strong>Transaction Failed</strong></div><br>
        <div style="text-align: center;"><p>{{error_message}}</p></div>
        <div style="text-align: center;"><button class="btn btn-secondary" (click)="onClick()">Try Again</button></div>
    </div>
</section>

