<div class="container" style="text-align: center;">
  <a href="#"><img src="/assets/logo.png" style="width: 200px;"></a>
</div>

<div class="container" style="text-align: center;">
      <h1 >Track Your Application Status</h1>
</div>
<table style="margin: 0 auto">
  <td>
    <!-- <div class="container" style="text-align: center;"> -->
      <form #trackapp="ngForm">
        <div class="form-group" style="width:200px;margin: 0 auto;">
          <input type="text" [(ngModel)]="Reference_id" class="form-control" placeholder="Enter your Reference ID"
             id="trackapp" name="trackapp" required #trackRef="ngModel">
        </div>
      </form>
  </td>

  <td>
    <div class="form-group">
      <button [disabled]="trackapp.invalid" type="button"  class="btn btn-primary"
        (click)="TrackApplicationDetails()" style="margin-top: -5px;">Track</button>
    </div>
  </td>
</table>

<div class="container" style="align-content:center" *ngFor="let trackapp of trackapplication">
              <table class="table">
                    <tbody>
                      <tr>
                            <th>Reference Id:</th>
                            <td>{{trackapp.Reference_id}} </td> 
                        </tr>
                      <tr>
                            <th>Account Type:</th>
                            <td>{{trackapp.account_type}} </td> 
                        </tr>
                      <tr>
                            <th>Approved Status:</th>
                            <td>{{trackapp.approved_status}} </td> 
                        </tr>
                      <tr>
                            <th>Approved Date:</th>
                            <td>{{trackapp.approved_date|date}} </td> 
                        </tr>
                      </tbody>
                </table>
</div>

<!-- <div class="buttonheader">

      <button type="button" class="btn btn-primary" (click)="ShowTrackApplication()">Track </button>
</div> -->

<!-- <div class="trackbutton" *ngIf="trackapplicationtoggle">
          <div class="card-body">
                <h3 class="card-text">
                      <input type="text" [(ngModel)]="Reference_id" >
                      &nbsp;
                      <button type="button" class="btn btn-primary" (click)="TrackApplicationDetails()">Track </button>
                      </h3>
             <div class="trackdetails" style="width: 55rem;" *ngFor="let trackapp of trackapplication">
                  <table class="table">
                        <tbody>
                          <tr>
                                <th scope="row">Reference Id:</th>
                                <td> {{trackapp.Reference_id}} </td> 
                            </tr>
                          <tr>
                                <th scope="row">Account Type:</th>
                                <td> {{trackapp.account_type}} </td> 
                            </tr>
                          <tr>
                                <th scope="row">Approved Status:</th>
                                <td> {{trackapp.approved_status}} </td> 
                            </tr>
                          <tr>
                                <th scope="row">Approved Date:</th>
                                <td> {{trackapp.approved_date}} </td> 
                            </tr>
                          </tbody>
                    </table>
              </div>
  </div> -->