.trackname{
    margin-left: 500px;
    
    margin-top:50px;
    
}

.trackbutton{
    margin-left: 500px;
    
    margin-top:50px;
    
} 

.trackapplicationheader{
    margin-left: 500px;
    
    margin-top:50px;
}

.buttonheader{
    margin-left: 620px;
    
    margin-top:50px;
}

.trackdetails{
    margin-left: -100px;
    
    margin-top:50px;
}